
Clase4/Debug/

Debug/

\.vs/Clase4/v15/ipch/AutoPCH/80f24e0b4a0c43fd/SOURCE\.ipch

\.vs/Clase4/v15/

Clase4/Release/Clase4\.tlog/

Clase4/Release/

Clase4/x64/Release/Clase4\.tlog/

Clase4/x64/Release/

x64/Release/

bin/

obj/
